.ContactForm {
  padding: 20px;
}

.align {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.inputLabel {
  margin-bottom: 5px;
  font-size: 18px;
  width: 20px;
}

.formInput {
  width: 255px;
  padding: 10px 10px;
  border: 1px solid rgba(131, 30, 131, 0.712);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 2px;
  background-color: inherit;
  color: rgb(59, 11, 73);
  outline: none;
  font-size: 16px;
  font-weight: 600;
}

.radioAlign {
  width: 200px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.radioTitle {
  width: 76%;
  font-size: 18px;
  padding: 3px;
  margin: 0;
  color: #ffff;
  background-color: #282c3452;
  border-radius: 2px;
}

.radioLabel {
  cursor: pointer;
  color: rgb(59, 11, 73);
}

input[type="radio"] {
  visibility: hidden;
  /* cursor: pointer; */
}

input[type="radio"]:after {
  cursor: pointer;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  top: -2px;
  left: 0px;
  position: relative;
  background-color: rgba(209, 174, 174, 0.39);
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid rgba(131, 30, 131, 0.712);
}

input[type="radio"]:checked:after {
  width: 12px;
  height: 12px;
  border-radius: 12px;
  top: -2px;
  left: 0px;
  position: relative;
  background-color: rgb(59, 11, 73);
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid rgba(131, 30, 131, 0.712);
}

.btnSubmit {
  width: 240px;
  height: 40px;
  border-radius: 2px;
  color: rgb(59, 11, 73);
  background-color: rgba(209, 174, 174, 0.39);
  border: 2px solid rgba(131, 30, 131, 0.712);
  box-shadow: 4px 4px 4px rgb(0 0 0 / 15%);
  font-size: 18px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btnSubmit:hover {
  color: #ffff;
  background-color: rgb(59, 11, 73);
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cebac894;
  color: #666666;
  pointer-events: none;
}
