.container {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.avatar {
  margin-right: 4px;
}
.name {
  color: rgb(59, 11, 73);
  font-weight: 700;
  margin-right: 12px;
}
.logOut_btn {
  background-color: #cebac894;
  border-radius: 2px;
  border: 1px solid rgba(131, 30, 131, 0.712);
  cursor: pointer;
  transition: color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    background-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.logOut_btn:hover {
  color: #ffff;
  background-color: rgb(59, 11, 73);
}
.MuiIconButton_root {
  composes: logOut_btn;
}
.MuiIconButton_root:hover {
  background-color: rgb(59, 11, 73);
}
